@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
    background: url(imagens/fundo-madeira.jpg)no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
main {
    position: relative;
    height: 100vh;
        
}

section#telefone {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    height: 29.5rem;
    width: 14.5rem;
    background-color: white;    
    background: url(imagens/frame-iphone.png) no-repeat;
}

iframe#tela {
    position: relative;
    top: 3.77rem;
    left: 1.06rem;
    width: 12.49rem;
    height: 22.1rem;
}

/*section#redes {
    text-align: right;
}*/

section#redes img {
    width: 5rem;
    margin: .3rem;
    padding: .3rem;
    border-radius: 50%;
    box-sizing: border-box;
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.404);*/
}

section#redes img:hover {
    border: .2rem solid rgba(255, 255, 255, 0.300);
    /*transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);*/
    transition: border .1s ;
    
}